numpy
matplotlib
pandas
openpyxl
seaborn
scipy
scikit-learn
plotly
streamlit
stargazer
pingouin
statsmodels
mysql-connector-python
pymysql
xgboost
lightgbm
parquet
#DL
tensorflow
torch
#model_selection
autogluon